<hr>
<div>
    <canvas baseChart
        [datasets]="chartData['rhi']"
        [chartType]="'line'"
        [labels]="chartLabels"
        [options]="chartOptions['rhi']"
        [colors]="chartColors"
        [legend]="chartLegend">
    </canvas>

    <canvas baseChart
      [datasets]="chartData['temp']"
      [chartType]="'line'"
      [labels]="chartLabels"
      [options]="chartOptions['temp']"
      [colors]="chartColors"
      [legend]="chartLegend">
    </canvas>

    <canvas baseChart
      [datasets]="chartData['rh']"
      [chartType]="'line'"
      [labels]="chartLabels"
      [options]="chartOptions['rh']"
      [colors]="chartColors"
      [legend]="chartLegend">
    </canvas>
</div>

