
<hr>

<div *ngFor="let chart of defineCharts[zone]; index as i">
    <canvas baseChart width="1" height="1"
      [data]="chartData[i]"
      [type]="chartType[i]"
      [options]="chartOpts[i]" >
    </canvas>

    <table *ngIf="chart.xAxisLabel=='time'" class="dataTable" width="100%">
      <tr>
        <td>Sensor</td>
        <td>Time</td>
        <td>Last</td>
        <td>Min</td>
        <td>Max</td>
      </tr>
      <tr *ngFor="let series of chart.series">
        <td>{{series.sensor}}-{{series.yQty}}</td>
        <td [ngClass]="series.isTimeGood ? 'cssGood' : 'cssBad'">{{series.lastTimestampFormatted}}</td>
        <td>{{series.lastReading | number: '1.1-1'}}</td>
        <td>{{series.minReading | number: '1.1-1'}}</td>
        <td>{{series.maxReading | number: '1.1-1'}}</td>
      </tr>
    </table>

    <div class="spacer"></div>
    <hr>
    <div class="spacer"></div>
  </div>

