.chart-container {
  height: 130vh;

  overflow:hidden;
}

@media (max-width: 576px) {
  .capped-height{
    height: 110vh;
  }
}

table {
  height:100% !important;
}

table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
  /* margin: 5px; */
}

td {
  padding: 2px;
}

.cssGood {
  background-color: lightgreen;
}

.cssOK {
  background-color: orange;
}

.cssBad {
  background-color: red;
}

.spacer {
  height: 30px;
  /* border: 1px red solid; */
}
