<!-- <hr>
<table class="centered">
  <td>
    <tr>Sensor Name</tr>
    <tr>Timestamp</tr>
    <tr>RH</tr>
    <tr>Temp</tr>
    <tr>RHcrit</tr>
    <tr>RHI</tr>
  </td>
  <td *ngFor="let data of printData; let i = index">
    <tr class="align-centre"><b>{{data.sensor_name}}</b></tr>
    <tr [ngClass]="data.isTimeGood ? 'cssGood' : 'cssBad'">{{data.time}}</tr>
    <tr>{{data.rh | number: '1.1-1'}}%</tr>
    <tr>{{data.temp | number: '1.1-1'}}&deg;C</tr>
    <tr>{{data.temp | rhCrit | number: '1.1-1'}}%</tr>
    <tr [ngClass]="data.rhiStatus ==='good' ? 'cssGood' : data.rhiStatus === 'ok' ? 'cssOK' : 'cssBad'">
      {{data.rh | rhi: data.temp | number: '1.2-2'}}</tr>
  </td>
</table>
<hr>
<div>
  <canvas height="300" width="300" baseChart
      [datasets]="chartData"
      [chartType]="'scatter'"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [legend]="chartLegend">
  </canvas>
</div> -->
