<div *ngFor="let data of printData; let i = index">

  <table>
    <tr>
      <td>Sensor Name</td>
      <td>{{data.sensor_name}}</td>
    </tr>
    <tr>
      <td>Found?</td>
      <td>{{data.sensor_found}}</td>
    </tr>
    <tr>
      <td>Timestamp</td>
      <td>{{data.time}}</td>
    </tr>
    <tr>
      <td>RH</td>
      <td>{{data.rh | number: '1.1-1'}}%</td>
    </tr>
    <tr>
      <td>T</td>
      <td>{{data.temp | number: '1.1-1'}}&deg;C</td>
    </tr>
    <tr>
      <td>RHcrit</td>
      <td>{{data.temp | rhCrit | number: '1.1-1'}}%</td>
    </tr>
    <tr>
      <td>RHI</td>
      <td>{{data.rh | rhi: data.temp | number: '1.2-2'}}</td>
    </tr>
  </table>

  <p></p>

</div>

<div>
  <canvas height="300" width="300" baseChart
      [datasets]="chartData"
      [chartType]="'scatter'"
      [labels]="chartLabels"
      [options]="chartOptions"
      [colors]="chartColors"
      [legend]="chartLegend">
  </canvas>
</div>
