.centered {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

.button-bar {
  /* height: 50px; */
  /* border: red 1px dashed; */
}

.button {
  margin: 5px;
}
